* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #101014;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 450px;
    text-align: center;
}

.Titulo {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.password {
    background-color: #232229;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.password p {
    font-size: 24px;
    font-weight: bold;
}

.password img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}

.generador {
    background-color: #232229;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.barra {
    margin-bottom: 20px;
    
}

.barra label {
    font-size: 16px;
    margin-right: 10px;
}

.barra input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

/********************************/

.barra span {
    display: inline-flexbox;
    width: 40px;
    text-align: center;
}

.lista {
    text-align: left;
    margin-bottom: 20px;
}

.lista div {
    margin-bottom: 10px;
}

.lista label {
    font-size: 16px;
    margin-left: 5px;
}

.boton {
    background-color: #a5ffaf;
    color: rgb(6, 6, 6);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.boton:hover {
    background-color: #45a049;
}

.strength-bar {
    width: 100%;
    height: 5px;
    background-color: #555;
    border-radius: 5px;
    margin: 10px 0;
}

.strength-bar div {
    height: 100%;
    border-radius: 5px;
}


/****************/

#strengthIndicator.veryweak {
    background-color: red;
    width: 25%; }
#strengthIndicator.weak     { 
    background-color: orange;
    width: 50%; }
#strengthIndicator.medium   { 
    background-color: yellow;
    width: 75%; }
#strengthIndicator.strong { 
    background-color: green;
    width: 100%; }

    .btncopy{
        background-color: transparent;
        border: none;
    }
.btncopy:active {
    border: 1px solid transparent;
}